/*  your css code here. If applicable */
*{
	width:99vw;
}
.code-container{
	display:flex;
}

.code{
	width: 120px;
	height:80px;
	display:flex;
	justify-content:center;
	align-item:center;
	margin:25px;
	font-size:50px;
	padding:0px;
	padding-left:0px;
}
#verification_heading,p,.footer{
	display:flex;
	justify-content:center;
}
input:focus{
	background: yellow;
	color: red;
}